base_extra_packages:
  - jq
  - python-mysqldb
base_extra_pip_packages:
  - boto3

# Deployment common vars
ansistrano_user: "{{customer}}"
ansistrano_php_fpm_service_name: "php{{ php_version_to_install }}-fpm"
ansistrano_php_fpm_enabled: true
ansistrano_group: www-data
ansistrano_deploy_to: "/home/www/"
ansistrano_keep_releases: 1
ansistrano_current_dir: current
ansistrano_deploy_via: s3_unarchive
ansistrano_rolling_elb_enabled: false
ansistrano_rolling_releases: true

# Variable given by the pipeline, env vars used for molecule rest archive
ansistrano_s3_bucket: "{{ lookup('env','DEPLOY_BUCKET_NAME') | default(deploy_bucket_name, true)}}"
ansistrano_s3_object: "{{ lookup('env','DEPLOY_BUCKET_OBJECT_PATH') | default(deploy_bucket_object_path, true)}}"
ansistrano_s3_region: "{{ lookup('env','DEPLOY_BUCKET_REGION') | default(aws_default_region, true)}}"
ansistrano_s3_aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY_ID') | default(omit)}}"
ansistrano_s3_aws_secret_key: "{{ lookup('env','AWS_SECRET_ACCESS_KEY') | default(omit)}}"

ansistrano_before_symlink_tasks_file: "config/before_symlink_tasks.yml"
ansistrano_after_symlink_tasks_file: "config/after_symlink_tasks.yml"
ansistrano_s3_archive_content: false

#
# Nginx
#

basic_auth: ""

# root/public directory of your website
nginx_application_root: ""

nginx_remove_sites:
  - default

nginx_configs:
  00-misc:
    - server_names_hash_max_size 512
    - server_names_hash_bucket_size 128
    - map_hash_bucket_size 1024
  01-global:
    - client_max_body_size 15m
    - keepalive_timeout 65
    - types_hash_max_size 2048
  02-aws:
    - real_ip_header X-Forwarded-For
    - set_real_ip_from 0.0.0.0/0
    # https://serverfault.com/questions/314574/nginx-real-ip-header-and-x-forwarded-for-seems-wrong/414166#414166
    # Under the ALB/WAF my Forwarded-For looks like `X-Forwarded-For: 90.127.63.226, 10.3.4.165`
    # Nginx by default take IP most on the right (trusted IP). By enabling the `real_ip_recursive on;` nginx will look on the left
    - real_ip_recursive on
  02-gzip:
    - gzip on
    - gzip_disable msie6
    - gzip_proxied any
    - gzip_types
        application/javascript
        application/x-javascript
        application/xml
        application/xml+rss
        text/css
        text/javascript
        text/plain
        text/xml
  02-fastcgi:
    - fastcgi_buffers 16 16k
    - fastcgi_buffer_size 32k
  upstream:
    - upstream php { server "unix:/var/run/php-fpm.sock"; }

application_server_name:
    - application.com

healthcheck_location: |
    location /health-check {
      root {{ ansistrano_deploy_to }}current/{{ nginx_application_root }};
      index healthcheck.php;
      fastcgi_pass   php;
      fastcgi_index  healthcheck.php;
      fastcgi_param  SCRIPT_FILENAME  {{ ansistrano_deploy_to }}current/{{ nginx_application_root }}/healthcheck.php;
      fastcgi_param  PATH_INFO        $fastcgi_path_info;

      include        fastcgi_params;
      access_log off;
      allow all;
    }

nginx_application_vhost:
  - listen 80 default_server
  - server_name {{ application_server_name | join(' ') }}
  - root {{ ansistrano_deploy_to }}current/{{ nginx_application_root }}
  - set $ssl off
  - index index.php index.html
  - if ($http_x_custom_proto = "https") { set $ssl on; }
  - if ($http_x_forwarded_proto = "https") { set $ssl on; }
  - autoindex off
  - charset UTF-8
  - access_log /var/log/nginx/application-access.log
  - error_log  /var/log/nginx/application-error.log

  - "{{ healthcheck_location }}"
  - "{{ basic_auth }}"
  - location / {
        try_files $uri $uri/ /index.php?$args;
    }

  - location ~ \.php$ { echo_exec @fastcgi_backend; }

  - location @fastcgi_backend {
      expires off;
      fastcgi_pass php;
      fastcgi_read_timeout 900s;
      fastcgi_connect_timeout 900s;
      fastcgi_send_timeout 900s;
      fastcgi_index  index.php;
      fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
      fastcgi_param  HTTPS $ssl;
      fastcgi_param  X-FORWARDED-PROTO $scheme;
      fastcgi_param  X-FORWARDED-HOST  $host;
      include        fastcgi_params;
    }



nginx_sites:
  00-metrics:
    - listen 80
    - server_name 127.0.0.1
    - location /nginx_status {
        stub_status on;
        access_log   off;
        allow 127.0.0.1;
        deny all;
      }
    - location ~ "/fpm-(status|ping)" {
        access_log   off;
        allow 127.0.0.1;
        deny all;
        fastcgi_pass php;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
      }

  50-application:
    "{{ nginx_application_vhost }}"


nginx_snippets:
  redirect_to_https:
    - if ($ssl == "off") {
          return 301 https://$host$request_uri;
      }

#
# Logs
#

cycloid_files_watched:
 - name: php
   path: "php_errorlog_path"
 - name: php-fpm
   path: "/var/log/php{{ php_version_to_install }}-fpm.log"
 - name: php-slow
   path: "{{ php_slowlog_path }}"
 - name: nginx-access
   path: "/var/log/nginx/access.log"
 - name: nginx-error
   path: "/var/log/nginx/error.log"
 - name: nginx-application
   path: "/var/log/nginx/application-*.log"

#
# Php
#
php_version_to_install: 7.2

php_opcache_enable: 1
php_opcache_enabled_in_ini: true
php_opcache_max_accelerated_files: 20011
php_opcache_memory_consumption: 256
php_opcache_interned_strings_buffer: 16
php_opcache_max_wasted_percentage: 5
php_opcache_validate_timestamps: 0

# PHP Configuration
# Average size of a process: ps -ylC php-fpm --sort:rss (result in KB, value below in MB)
#php_average_process_size: 88

php_memory_limit: "512M"
php_max_execution_time: "30"
php_max_input_time: "60"
php_upload_max_filesize: "5M"
php_post_max_size: "8M"

php_expose_php: "Off"
php_webserver_daemon: nginx
php_debian_pkg_managed: true
php_debian_pkg_name:
  - deb https://packages.sury.org/php/ stretch main
php_debian_pkg_key: https://packages.sury.org/php/apt.gpg
php_aws_elasticache: true

php_packages:
  - "php{{ php_version_to_install }}"
  - "php{{ php_version_to_install }}-cli"
  - "php{{ php_version_to_install }}-common"
  - "php{{ php_version_to_install }}-curl"
  - "php{{ php_version_to_install }}-dev"
  - "php{{ php_version_to_install }}-fpm"
  - "php{{ php_version_to_install }}-gd"
  - "php{{ php_version_to_install }}-mysql"
  - "php{{ php_version_to_install }}-ssh2"
  - "php-pear"
  - "php{{ php_version_to_install }}-xsl"
  - "php{{ php_version_to_install }}-intl"
  - "php{{ php_version_to_install }}-mbstring"
  - "php{{ php_version_to_install }}-bcmath"
  - "php{{ php_version_to_install }}-zip"
  - "php{{ php_version_to_install }}-soap"
  - "php{{ php_version_to_install }}-opcache"

php_disable_functions: "pcntl_alarm,pcntl_fork,pcntl_waitpid,pcntl_wait,pcntl_wifexited,pcntl_wifstopped,pcntl_wifsignaled,pcntl_wifcontinued,pcntl_wexitstatus,pcntl_wtermsig,pcntl_wstopsig,pcntl_signal,pcntl_signal_dispatch,pcntl_get_last_error,pcntl_strerror,pcntl_sigprocmask,pcntl_sigwaitinfo,pcntl_sigtimedwait,pcntl_exec,pcntl_getpriority,pcntl_setpriority"

php_short_open_tag: true

# overrided on staging fronts
php_slowlog_path: /var/log/php-slow.log
php_errorlog_path: /var/log/php-error.log
php_enable_php_fpm: true
php_fpm_pools:
  - name: "{{ ansistrano_user }}"
    user: "{{ ansistrano_user }}"
    group: www-data
    listen: /var/run/php-fpm.sock
    listen.owner: www-data
    listen.group: www-data
    slowlog: "{{ php_slowlog_path }}"
    #pm.max_spare_servers: 30
    #pm.min_spare_servers: 15
    #pm.start_servers: 15
    #pm.max_children: 50
    #pm.max_requests: 30000
    #request_terminate_timeout: 300
    #catch_workers_output: yes
    php_flag[display_errors]: on
    php_admin_flag[log_errors]: true
    php_admin_value[error_log]: "{{ php_errorlog_path }}"
